body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  text-align: center;
}
.header
{
  font-style: italic;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  background-color: #333; 
  border-radius: 5px; 
}




#about-us {
  margin-left: auto;
  margin-right: 10px;
}

.links {
  background-color: black;
  height: 60px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-around; /* Align links evenly */
  align-items: center;
}

#content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  margin-top: 100px; /* Adjust margin as needed */
}

#rounded-rectangle {
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 450px;
  border-radius: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.grid-item {
  width: 45%; /* Adjust the width as needed */
  height: 150px;
  margin: 10px;
  background-color:rgb(5, 178, 178); /* Light background color */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.grid-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}